---
import ImageX from "@components/TestImage.astro";

import {
  getAlbumPhotos,
  getRndValue,
  getImgMeta,
  getFileName,
} from "@components/Library.astro";
console.log("\n\n[DEBUG] ---------------------------------------\n");
const imageArray = await getAlbumPhotos("local");
console.log("MAIN: path --> ", imageArray);
let rndImage = getRndValue(imageArray);
console.log("Random entry: ", rndImage);
const imgLoc = await getImgMeta(rndImage);
const ogImg = "/src/assets/images/skicyclerun-og.jpeg";
const imgCSS = "block h-full w-full rounded-lg object-cover object-center";
const imgName = getFileName(imgLoc);

console.log("[FINAL] - ", imgLoc, " -- ", ogImg);
---

<div class={imgCSS}>
  <ImageX imagePath={imgLoc} altText={imgName} name={imgName} age={25} />
</div>

<div class={imgCSS}>
  <ImageX imagePath={ogImg} altText="Back in the day!" name="TimSki" age={10} />
</div>
