---
const { frontmatter } = Astro.props;
import { getAlbumPhotos } from "@components/Library.astro";
let photos = await getAlbumPhotos(`${frontmatter.album}`);
// const res = await fetch(
//   `https://api.skicyclerun.com/getphotosrandom?bucketName=skicyclerun.lib&albumPath=albums/${frontmatter.album}/&numPhotos=50`
// );
// const photos = await res.json();
// console.log("[DEBUG Console] 📷 ~ photos:\n", photos);
---

<html>
  <!-- ... -->
  <h1>{frontmatter.title}</h1>
  <h2>Post author: {frontmatter.author}</h2>
  <p>{frontmatter.description}</p>
  <h3>{frontmatter.album}</h3>
  <!-- Markdown content is injected here -->
  <slot />
  <!-- Markdown content is injected here -->

  <div class="lg:px-32 lg:pt-24 container mx-auto px-5 py-2">
    <div class="md:-m-2 -m-1 flex flex-wrap">
      <div class="flex w-1/2 flex-wrap">
        <div class="md:p-2 w-1/2 p-1">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src={photos[0]}
          />
        </div>
        <div class="md:p-2 w-1/2 p-1">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src={photos[1]}
          />
        </div>
        <div class="md:p-2 w-full p-1">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src={photos[2]}
          />
        </div>
      </div>
      <div class="flex w-1/2 flex-wrap">
        <div class="md:p-2 w-full p-1">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src={photos[3]}
          />
        </div>
        <div class="md:p-2 w-1/2 p-1">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src={photos[4]}
          />
        </div>
        <div class="md:p-2 w-1/2 p-1">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src={photos[5]}
          />
        </div>
      </div>
    </div>
  </div>


</html>
