---
import { YouTube } from "astro-embed";
const { frontmatter } = Astro.props;
---

<html>
  <h1>{frontmatter.title}</h1>
  <h2>Post author: {frontmatter.author}</h2>
  <p>{frontmatter.description}</p>

  <YouTube id={frontmatter.videoID} />
  <!-- Markdown content is injected here -->
  <slot />
  <!-- Markdown content is injected here -->
  <h3>Album: {frontmatter.album}</h3>


</html>
