---
import { type CollectionEntry } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import PostCard from "@components/PostCards.astro";
import Pagination from "@components/Pagination.astro";
import { getPhotoCover } from "@utils/getPhotoCover";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
  tag: string;
  tagName: string;
}

const {
  currentPage,
  totalPages,
  paginatedPosts,
  tag,
  tagName = tag,
} = Astro.props;

// Fetch cover images for all posts
const coverImages = await Promise.all(
  paginatedPosts.map((post) =>
    getPhotoCover(post.data.cover ?? "images/default-cover.png")
  )
);
---

<PageLayout
  title={`Tag: ${tagName}`}
  pageTitle={`Tag: ${tagName}`}
  pageDesc={`All articles tagged with "${tagName}"`}
  activeNav="tags"
>
  <div class="flex flex-col gap-6">
    {
      paginatedPosts.map((post, index) => (
        <PostCard
          title={post.data.title}
          author={post.data.author}
          pubDatetime={post.data.pubDatetime.toISOString()}
          tags={post.data.tags}
          description={post.data.description}
          cover={coverImages[index]?.src ?? "images/default-cover.png"}
          href={
            post.data.type === "TECH"
              ? `/tech/${post.data.slug || post.slug}`
              : `/posts/${post.data.slug || post.slug}`
          }
        />
      ))
    }
  </div>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/tags/${tag}${
      currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""
    }`}
    nextUrl={`/tags/${tag}/${currentPage + 1}`}
  />
</PageLayout>
